:root {
    --black-color: #353535;
    --white-color: #FFFFFF;
    --orange-color: #FF6B01;
}


body{
    color: var(--white-color);
    background-color: var(--black-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
    background-color: var(--orange-color);
    width: 10em;
    height: 3em;
    border-radius: 1.5em;
    margin: 0 2em;
}

a{
    color: #FF6B01;
}

#options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#div-table{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 0 2em 0;
}

.title{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -0.5em;
}

.option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;       
    text-align: center;        
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.third-coll{
    padding: 0 1em 0 0;
}

.third-row{
    padding: 1em 0 0 0;
}